---
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- SEO -->
  <title>Cheetah</title>
  <meta name="description" content="Cheetah est un projet d'animation en stop motion qui explore la vitesse et l'agilité de cet animal emblématique à travers l'analyse de son cycle de course.">
  <meta name="keywords" content="Cheetah, guépard, animation, stop motion, projet, Ropat, graphiste, designer graphique, Angers, France">
  
  <!-- Canonical -->
  <link rel="canonical" href="https://ropat.art/projects/cheetah">
  
  <!-- Sitemap -->
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
  
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  
  <!-- JS -->
  <script src="/assets/js/script.js" defer></script>
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">

  <!-- Icon -->
  <link rel="icon" href="/assets/branding/icon.png" type="image/png">
</head>
<body>
  <!-- Header -->
  {% include header.html %}

  <!-- Main Content -->
  <main class="hero">
    <section class="hero-project">
      <img src="/assets/images/projects/cheetah-stopmotion.png" class="hero-image" alt="Cheetah Stop Motion">
      <div class="hero-project-description">
        <h1 class="hero-title">Cheetah Animation</h1>
        <div class="hero-text" id="project-description">
          <p>Ce projet met en avant une animation en stop motion réalisée avec des techniques traditionnelles et numériques.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>