---
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HDD DEFRAG</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="https://ropat.art/projects/hdd-defrag">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
  <script src="/assets/js/script.js" defer></script>
  <link rel="icon" href="/assets/images/branding/icon.png" type="image/png">
</head>
<body>
  <!-- Header -->
  {% include header.html %}

  <!-- Main Content -->
  <main class="hero">
    <section class="hero-project">
      <img src="/assets/images/projects/hdd-defrag-poster.png" class="hero-image" alt="Affiche HDD DEFRAG">
      <div class="hero-project-description">
        <h1 class="hero-title">HDD DEFRAG</h1>
        <div class="hero-text" id="project-description">
          <p>HDD DEFRAG est un projet de design graphique axé sur la création d'une affiche mettant en avant la défragmentation de disques durs.</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>