---
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO -->
  <title>Services</title>
  <meta name="description" content="Découvrez mes services : conception de pochettes d'album, création de logos, affiches, animations en motion design et projets de branding pour artistes et entreprises.">
  <meta name="keywords" content="services, créations graphiques, pochette album, design logo, affiche concert, motion design, branding, identité visuelle, Ropat, graphiste Angers">

  <!-- Open Graph -->
  <meta property="og:title" content="Services - Ropat">
  <meta property="og:description" content="Découvrez mes créations graphiques : pochettes d'album, logos, affiches, animations en motion design et projets de branding pour artistes et entreprises.">
  <meta property="og:image" content="https://ropat.art/assets/images/branding/icon.png">
  <meta property="og:url" content="https://ropat.art/services">
  <meta property="og:type" content="website">
  
  <!-- Canonical -->
  <link rel="canonical" href="https://ropat.art/services">

  <!-- Sitemap -->
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- JS -->
  <script src="assets/js/script.js" defer></script>

  <!-- Icon -->
  <link rel="icon" href="assets/images/branding/icon.png" type="image/png">
</head>
<body>
  <!-- Header -->
  {% include header.html %}

  <!-- Main Content -->
  <main class="main-content">
    <!-- SECTION PROJETS -->
    <section class="hero" aria-labelledby="servicess-title">
      <h1 class="hero-title" id="hero-title">Mes Services</h1>

      <div class="section-grid" id="services-grid">
        {% for item in site.data.services %}
          {% include services-card.html services=item %}
        {% endfor %}
      </div>
    </section>
  </main>

  <!-- Footer -->
  {% include footer.html %}
</body>
</html>