// Texte entouré de la bordure orange dans le coin inférieur droit
.bubble-container {
  line-height: 1.625;
  max-width: 42rem;
}

.bubble-container p {
  font-family: Manrope;
  font-size: var(--fs-p);
  color: var(--text-secondary-color);
  padding: 1.25rem 2rem;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: var(--secondary-color);
  border-radius: 0 2rem 2rem 2rem;
  border-left: 0.25rem solid var(--primary-color);
  border-bottom: 0.125rem solid var(--primary-color);
}

// Titre en haut à gauche
.hero-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

// Bulle orange avec icône
.icon-placeholder {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color-alpha);
  border: var(--border-primary);
  border-radius: var(--border-radius-sm);
  
  @supports (corner-shape: squircle) {
    border-radius: var(--border-radius-squircle-full);;
    corner-shape: squircle;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
}


/* hero container */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.hero-project-container {
  max-width: 100%;
}

.hero-service-container {
  max-width: 100%;
}

.center-content-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dark-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.875rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  padding: 0.875rem 1.75rem;
  border-radius: var(--border-radius-full);
  font-size: var(--fs-small);
  font-weight: 900;
  transition: background-color var(--transition-base), transform var(--transition-base);
  box-shadow: var(--shadow-sm);
}

/* ==============================================
   SOCIAL ICONS
   ============================================== */

.social-icons-card {
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* Size */
  width: -webkit-fill-available;
  height: fit-content;
  
  /* Spacing */
  padding: 1.75rem 2.5rem;
  gap: 1.25rem;

  /* Border */
  border: 2px solid var(--primary-color);
  border-radius: 3rem;

  @supports (corner-shape: squircle) {
    border-radius: 7rem;;
    corner-shape: squircle;
  }
  
  /* Colors & Background */
  background-color: var(--secondary-color);
  
  /* Effects */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}


.socialContainer {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  /* Size */
  width: fit-content;
  height: fit-content;
  
  /* Spacing */
  padding: 1rem;

  /* Border */
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-lg);

  @supports (corner-shape: squircle) {
    border-radius: var(--border-radius-squircle-full);;
    corner-shape: squircle;
  }

  /* Colors & Background */
  background-color: var(--secondary-color);

  /* Effects */
  overflow: hidden;
  transition-duration: .3s;
}

.socialContainer:hover {
  background-color: var(--primary-color-alpha);
  box-shadow: 0px 0px 15px var(--primary-color);
  transform: scale(1.1);
}


.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 100%;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}