/* ============================================
   GALLERY
   ============================================ */

/* Conteneur principal (pour aligner les deux blocs) */
.project-gallery {
    display: flex; /* Utiliser Flexbox */
    flex-direction: column; /* Aligner les éléments en colonne */
    gap: var(--spacing-sm);
    width: 100%;
}

/* Zone des miniatures (côté gauche comme Amazon) */
.thumbnails-container {
    display: flex;
    flex-direction: row; /* Miniatures verticales */
    justify-content: space-between;
    gap: var(--spacing-xs);
    max-height: 500px; /* Limiter la hauteur pour le défilement */
    overflow-y: auto; /* Permet le défilement si plus de 5 miniatures */
}

.thumbnail-image {
    flex: 1; /* Partager l'espace équitablement */
    min-width: 0; /* Permet la réduction en dessous de la largeur du contenu */
    aspect-ratio: 1 / 1; /* Garde les miniatures carrées */
    object-fit: cover;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.2s ease-in-out;
    border-radius: var(--border-radius-sm);
    opacity: 0.7;
    outline: none
}

/* Miniature active et au survol */
.thumbnail-image:hover, 
.thumbnail-image[data-active="true"] {
    border-color: var(--primary-color); /* Mettre votre couleur principale */
    opacity: 1;
    transform: scale(1.05) ease-in-out;
}
.thumbnail-image[data-active="true"] {
    /* Un peu plus d'ombre pour l'image sélectionnée */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

/* Zone de la grande image */
.main-display {
    flex-grow: 1; /* Prend l'espace restant */
    border-radius: var(--spacing-xl);
    overflow: hidden;
    box-shadow: var(--shadow-md);
    border: var(--border-primary);
}

#main-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
    display: block;
    object-fit: contain;
    transition: opacity 0.3s ease-in-out;
}