/* ============================================
   FOOTER
   ============================================ */
footer {
  background-color: var(--secondary-color);
  padding: var(--spacing-xl) var(--spacing-xl) 0 var(--spacing-xl);
  border-top: 2px solid var(--primary-color);
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: var(--spacing-xl);
  font-size: var(--fs-small);
}

.footer-left-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.footer-title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--fs-h2);
  font-weight: 700;
  text-transform: uppercase;
}

.footer-right-section {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-lg);
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-sm);
  padding: 0;
}

.footer-nav-title {
  padding: var(--spacing-xs) var(--spacing-sm);
  color: var(--primary-color);
  font-weight: 300;
}

.footer-description {
  font-size: var(--fs-p);
  color: #9CA3AF;
  line-height: 1.75;
  font-weight: 500;
}

.email {
  width: fit-content;
  font-family: 'space grotesk', sans-serif;
  font-size: var(--fs-h3);
  line-height: 1.75;
  font-weight: 700;
  border-bottom: var(--border-primary);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-md) 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white-color);

  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: var(--fs-small);
}

.footer-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--spacing-lg);
}

.footer-text {
  text-align: center;
}

.footer-legal {
  display: flex;
  gap: var(--spacing-sm);
}