<div class="nav-links" id="main-navigation">
  {% comment %} Détermine la langue de la page actuelle (définie dans le Front Matter) {% endcomment %}
  {% assign current_lang = page.lang | default: 'en' %}

  {% for item in site.data.navigation %}
    {% assign link_name = item.en_name %}
    {% if current_lang == 'fr' %}
        {% assign link_name = item.fr_name %}
    {% endif %}

    {% assign final_url = "/" | append: current_lang | append: item.base_url %}

    {% assign is_current = false %}
    {% if page.url == final_url %}
      {% assign is_current = true %}
    {% endif %}

    <a href="{{ final_url | relative_url }}"
       class="{{ item.class }}"
       {% if is_current %}aria-current="page"{% endif %}>
       {{ link_name }}
    </a>
  {% endfor %}
</div>