<article class="service-card" data-aos="fade-up" data-aos-delay="{{ include.services.data_aos_delay }}">
  <!-- SVG icon -->
  <div class="service-icon-placeholder" aria-label="{{ include.services.icon_aria }}">
    {{ include.services.icon | raw }}
  </div>
  <!-- Text content-->
  <div class="service-text-content">
    <h3>{{ include.services.title }}</h3>
    <p>{{ include.services.description }}</p>
  </div>
  <!-- Tools used -->
  <span class="service-tools">{{ include.services.tools }}</span>
</article>