<article class="service-card" data-aos="fade-up" data-aos-delay="{{ include.services.data_aos_delay }}">
  <!-- SVG icon -->
  <div class="service-icon-placeholder" aria-label="{{ include.services.icon_aria }}">
    {{ include.services.icon | raw }}
  </div>
  <!-- Text content-->
  <div class="service-text-content">
    <h3 class="service-title">{{ include.services.title }}</h3>
    <p>{{ include.services.description }}</p>
  </div>
  <!-- Tools used -->
  {% if include.services.tools %}
    {% for tool in include.services.tools %}
      <span class="services-tool">{{ tool.nom }}</span>
    {% endfor %}
  {% endif %}
</article>