{% assign current_lang = page.lang | default: "en" %}
{% assign service = site.data.services | where: "id", include.service_id | first %}
{% if service %}
  {% assign detail = service.detail[current_lang] | default: service.detail.en %}
  {% assign hero_title = detail.hero_title | default: service.title[current_lang] %}
  <main id="main-content" class="main-content service-detail">
    <!-- TEST -->

    <div style="
      flex-wrap: wrap;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-content: center;">
      <h1>{{ hero_title }}</h1>
      {% if detail.cta %}
        <section class="service-detail-cta">
          <a class="cta" href="{{ detail.cta.url }}">{{ detail.cta.text }}</a>
        </section>
      {% endif %}
      <p>AAA</p>
    </div>

    <!-- TEST-->
  </main>
{% endif %}
