/* ==============================================
   PROJECTS CARDS
   ============================================== */

.project-card {
  display: flex;
}

.project-card-image {
  background-color: var(--gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-color);
  aspect-ratio: 1 / 1; /* Définit un carré */
  width: 100%;
  overflow: hidden;
}

.project-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.project-card-footer {
  display: flex;
  justify-content: flex-start;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
  gap: var(--spacing-sm);
}

.project-card-title {
  text-align: start;
  font-family: 'space grotesk', sans-serif;
  font-weight: 900;
}

.project-card-client {
  color: var(--grey-light-400);
}

.project-card-description {
  font-size: var(--font-size-base);
  color: var(--gray-light);
  line-height: 1.4;
}