/* ============================================
   Services Cards
   ============================================ */
/*
service-card
service-card-placeholder
service-text-content
service-title
service-card-details
*/

.service-card {
  justify-content: space-between;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
  text-decoration: none;
  height: 100%;
}

.service-card-placeholder {
  display: flex;
  flex-direction: inherit;
  gap: var(--spacing-sm);
}

/* title */
.service-card-title {
  font-size: var(--fs-p);
  font-weight: 600;
}

/* description */
.service-card-description {
  font-size: var(--font-size-base);
}

.service-text-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  font-family: 'manrope', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

/* logiciels hashtags */
.service-tools {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
  font-family: "manrope", sans-serif;
  font-size: var(--fs-small);
  color: var(--primary-color);
}

/* details */
.service-card-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  font-family: 'space grotesk', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.875rem;
  color: #9CA3AF;

  transition: 
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1), 
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.service-card:hover .service-card-details {
  color: var(--primary-color);
  transform: scale(1.05);
}

/*
.service-detail {
  display: flex;
  padding: 0 var(--spacing-lg) var(--spacing-lg);
}
*/

/* Variations */
.service-card-big {
  gap: 4rem;
  border-radius: 3rem;
  padding: 4rem 2rem;
}

.service-card-simple {
  justify-content: space-between;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  flex: 0 1 auto;
}

.service-tool {
  padding: 0.25rem 0.6rem;
  border-radius: var(--border-radius-sm);
  background-color: var(--primary-color-alpha);
  width: fit-content;
}