<div class="card service-card service-card-simple squircle">
  <div class="service-text-content">
    <h4 class="service-title">{{ service_item.nom[current_lang] }}</h4>
    {% if service_item.description %}
      <p class="service-card-description">{{ service_item.description[current_lang] }}</p>
    {% endif %}
  </div>
  {% if service_item.tools %}
    <div class="service-tools">
      {% for tool in service_item.tools %}
        <span class="service-tool">{{ tool.nom }}</span>
      {% endfor %}
    </div>
  {% endif %}
</div>