{% assign current_lang = page.lang | default: "en" %}
{% assign contact = site.data.pages.contact[current_lang] %}
<!-- Main Content -->
<main id="main-content">
  <!-- Hero Section -->
  <section class="hero" aria-labelledby="hero-title">
    <div class="hero-title-container">
      <!-- Title -->
      <h1 class="hero-title" id="hero-title">{{ contact.title }}</h1>

      <!-- Contact Information -->
      <p class="hero-pitch text-start max-80h">{{ contact.hero_pitch }}</p>
    </div>

    <!-- Call to Action Button -->
    <a href="mailto:vultur.psd@gmail.com" class="cta">
      <span>{{ contact.cta }}</span>
      <img width="20" height="20" style="filter: invert(1);" src="/assets/images/icons/send.svg" alt="send icon" aria-hidden="true" />
    </a>
  </section>
  <section aria-labelledby="contact-methods-title">
    <h2 id="contact-methods-title" class="section-title">{{ contact.h2 }}</h2>
    <div class="flex center">
      {% include social-media-icons.html %}
    </div>
  </section>
</main>