<!-- Main Content -->
<main id="main-content" class="main-content">
  <!-- SECTION PROJETS -->
  <section class="hero" aria-labelledby="projects-title">
    <!-- Services section title-->
    <h1 class="hero-title" id="projects-title">{{ page.hero_title }}</h1>
    <p class="hero-intro">
      {{ page.hero_intro }}
    </p>
  </section>
  
  <div class="scroll-overlay">
    <a href="#second-section" class="scroll-down-link">
      <div class="icon-placeholder big-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-down-dash-icon lucide-arrow-big-down-dash"><path d="M15 11a1 1 0 0 0 1 1h2.939a1 1 0 0 1 .75 1.811l-6.835 6.836a1.207 1.207 0 0 1-1.707 0L4.31 13.81a1 1 0 0 1 .75-1.811H8a1 1 0 0 0 1-1V9a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1z"/><path d="M9 4h6"/></svg>
      </div>
    </a>
  </div>
  <section id="second-section">
    {% include portfolio-filters.html %}

    <!-- Grille des projets -->
    <div class="section-grid" id="projects-grid">
      {% assign project_slugs = site.data.projects.index.order %}
      {% for slug in project_slugs %}
        {% assign item = site.data.projects[slug] %}
        {% include project-card.html project=item index=forloop.index0 disable_animation=true %}
      {% endfor %}
    </div>
  </section>
</main>