<!-- Main Content -->
<main id="main-content" class="main-content">
  <!-- SECTION PROJETS -->
  <section class="hero" aria-labelledby="projects-title">
    <!-- Services section title-->
    <div class="hero-title-container">
      <h1 class="hero-title" id="projects-title">{{ page.hero_title }}</h1>
      <div class="bubble-container">
        <p>{{ page.hero_intro }}</p>
      </div>
    </div>
  </section>
  
  {% include scroll-down-link.html %}

  <section id="second-section">
    {% include portfolio-filters.html %}

    <!-- Grille des projets -->
    <div class="section-grid" id="projects-grid">
      {% assign project_slugs = site.data.projects.index.order %}
      {% for slug in project_slugs %}
        {% assign item = site.data.projects[slug] %}
        {% include projects/project-card.html project=item index=forloop.index0 disable_animation=true %}
      {% endfor %}
    </div>
  </section>
</main>