{% assign current_lang = page.lang | default: "en" %}
{% assign services = site.data.pages.services %}
{% assign services_lang = services[current_lang] %}
{% assign branding = site.data.services.branding-strategy %}
{% assign design = site.data.services.graphic-design %}
{% assign music = site.data.services.music-design %}

<main id="main-content" class="main-content">
  <!-- HERO-->
  <section class="hero" aria-labelledby="services-title">
    <h1 class="hero-title" id="services-title">{{ services_lang.title }}</h1>
    <p class="hero-intro">
      {{ services_lang.intro }}
    </p>
    <a href="#second-section" class="scroll-down-link">
      <div class="icon-placeholder big-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-down-dash-icon lucide-arrow-big-down-dash"><path d="M15 11a1 1 0 0 0 1 1h2.939a1 1 0 0 1 .75 1.811l-6.835 6.836a1.207 1.207 0 0 1-1.707 0L4.31 13.81a1 1 0 0 1 .75-1.811H8a1 1 0 0 0 1-1V9a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1z"/><path d="M9 4h6"/></svg>
      </div>
    </a>
  </section>
  <!-- TEST Section-->
  <section id="second-section">
    {% assign services_id = site.data.services.index.order %}
    {% for service_category in services_id %}
      {% assign service = site.data.services[service_category] %}
      <a class="service-card service-card-big" href="{{ service.detail_url[current_lang] }}">
        <div class="service-main-container">
          {% if service.icon %}
            <div class="icon-placeholder big-icon">
              {{ service.icon }}
            </div>
          {% endif %}
          <div class="service-main-container-text">
            <h2 class="services-page-subtitle">{{ service.title[current_lang] }}</h2>
            <p class="services-page-description">
              {{ service["services-page"].description[current_lang] }}
            </p>
          </div>
        </div>
        {% for section in service["services-page"].sections %}
          <!-- AH -->
          <div class="subservice-section">
            <h3 class="section-title">{{ section.nom[current_lang] }}</h3>
            <div class="card-grid">
              {% for service_item in section.subservices %}
                <div class="service-card service-card-simple">
                  <div class="service-text-content">
                    <h4 class="service-title">{{ service_item.nom[current_lang] }}</h4>
                    {% if service_item.description %}
                      <p class="service-card-description">{{ service_item.description[current_lang] }}</p>
                    {% endif %}
                  </div>
                  {% if service_item.tools %}
                    <div class="service-tools">
                      {% for tool in service_item.tools %}
                        <span class="service-tool">{{ tool.nom }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        </a>
    {% endfor %}
  </section>
</main>