---
layout: default
lang: "fr"
title: "Services - Ropat"
meta_description: "Découvrez mes services : conception de pochettes d'album, création de logos, affiches, animations en motion design et projets de branding pour artistes et entreprises."
canonical_url: "https://ropat.art/fr/services.html"
og_title: "Services - Ropat"
og_description: "Découvrez mes services : conception de pochettes d'album, création de logos, affiches, animations en motion design et projets de branding pour artistes et entreprises."
og_url: "https://ropat.art/fr/services.html"
---
<!-- Main Content -->
<main id="main-content" class="main-content">
  <!-- SECTION SERVICES -->
  <section class="hero" aria-labelledby="services-title">
    <h1 class="hero-title" id="services-title">Mes Services</h1>

    <div class="section-grid" id="services-grid">
      {% for item in site.data.services %}
        {% include service-card.html services=item %}
      {% endfor %}
    </div>
  </section>
</main>