// Texte entouré de la bordure orange dans le coin inférieur droit
.bubble-container {
  line-height: 1.625;
  max-width: 42rem;
}

.bubble-container p {
  font-family: Manrope;
  font-size: var(--fs-p);
  color: var(--text-secondary-color);
  padding: 1.25rem 2rem;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: var(--secondary-color);
  border-radius: 0 2rem 2rem 2rem;
  border-left: 0.25rem solid var(--primary-color);
  border-bottom: 0.125rem solid var(--primary-color);
}

// Titre en haut à gauche
.hero-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

// Bulle orange avec icône
.icon-placeholder {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color-alpha);
  border: var(--border-primary);
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-weight: 700;
  text-transform: uppercase;
}


/* hero container */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.hero-project-container {
  max-width: 55%;
}

.hero-service-container {
  max-width: 100%;
}

.center-content-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dark-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.875rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  padding: 0.875rem 1.75rem;
  border-radius: var(--border-radius-full);
  font-size: var(--fs-small);
  font-weight: 900;
  transition: background-color var(--transition-base), transform var(--transition-base);
  box-shadow: var(--shadow-sm);
}